body{
    background: linear-gradient(#01062a,black);
}
ol, ul,li {
    list-style: none;
    color: aliceblue;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.menu{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2% 10% 10% 4%;

}

.menu_imagen{
    position: relative;
    top: 5px;
}
.menu_titulo{
    display: inline-block;

}
.menu_lista{
    display: flex;
    white-space: nowrap;
    gap: 5px;
  
}
.menu_lista_item{
    margin: 0 0 0 2%;
}
.menu_lista_item:hover{
    text-decoration:underline
   
}
#menu_lista_item_correo{
    font-weight: bolder;
}
.titulo_div{
    display: flex;
    color: aliceblue;
    margin: 0 10% 10%;
    gap: 7%;
    justify-content: space-between;
}
.titulo_profile{
    position: relative;
    bottom: 40px;
    order: 1;
    border-radius: 50%;
}
.titulo_bio{
    font-size:50px;
    font-weight: bolder;
    padding-bottom: 4%;
}
.titulo_subsection{
    padding-bottom: 4%;
}
.titulo_container{
    display: flex;
    flex-direction: column;
}
.titulo_network{
    display: flex;
    flex-direction: row;
}
.titulo_network_item{
    margin: 0 4% 0 0;
}
.titulo_network_item:hover{text-decoration:underline}
.sobre_mi_container{
    background-color: #090d45;
    color:aliceblue;
}
.sobre_mi_container{
    display: flex;
    flex-direction: column;
    padding: 7% 10% ;
    justify-content: space-around;
    gap: 16px;
}
.sobre_mi_titulo{
    font-size:50px;
    font-weight: bolder;
}
.img_sigmature{
    width: 20%;
}
.skills,.hobbies{
    color: aliceblue;
    margin: 10% 10% ;
    display: flex;
    flex-direction: column;
}
.skills_titulo,.hobbies_titulo,.experiencia_section_titulo{
    text-align: center;
    font-size:32px;
    font-weight: bolder;
    padding-bottom: 5%;
}
.skills_line,.hobbies_line{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px; 
   
}

.skills_box_list,.hobbies_box_list{
    display: flex;
    width: 118px;
    height: 118px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: #070976;
    gap: 8px;
    padding: 16px;
    font-weight: bolder;
}
.formacion_formacion_academica{
    background-color: #090d45;
    display: flex;
    flex-direction: column;
    padding: 0 10% 10%;
    color: aliceblue;
}
.formacion_academica_titulo{
    text-align: center;
    font-size:32px;
    font-weight: bolder;
    padding: 5% 0;
}
.formacion_academica_cursos{
    display: flex;
    justify-content: space-around;
}
.formacion_academica_cursos_item_img{
    background: #070976;
    width: 190px;
    height: 140px;
    padding: 30px;
    align-items: baseline;
    box-shadow: 0px 0px 25px #222;
    
}
.formacion_academica_cursos_item_titulo{
    font-weight: bolder;
    margin-bottom: 2%;
}
.experiencia_profecional{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    padding:  10% 10%;
}

.experiencia_box{
    display: flex;
    gap: 10px;
    margin-bottom: 5%;
    align-items: center;

}
.experiencia_img2{
    order: 1;
}
.experiencia_info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.experiencia_titulo{
    font-weight: bolder;
    
}
.experiencia_description{
    display: flex;
    gap: 16px;
}
.experiencia_boton-repo{
    border: 3px solid #0099CC;
    color: #0099CC;
    padding: 16px;
    font-size: 16px;
    font-weight: bolder;
    width: 125px;
    height: 55px;
}
.experiencia_boton-demo{
    border: none;
    background: #0099CC;
    color: aliceblue;
    padding: 16px;
    font-size: 16px;
    font-weight: bolder;
    width: 125px;
    height: 55px;
}
.formcontato_contacto{
    display: flex;
    padding:  10% 10%;
    color: aliceblue;
    background-color:#060846 ;
    gap: 16px;
}
.formcontato_titulo{    
    font-size:32px;
    font-weight: bolder;
    padding-bottom: 2%;
}
.formcontato_form{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    gap: 32px;
}
.formcontato_enviar{
    border: none;
    background: #0099CC;
    color: aliceblue;
    padding: 16px;
    font-size: 16px;
    font-weight: bolder;
    width: 170px;
    
}
.footer_rodapie{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}

/*Tablet*/
@media (min-width: 768px) {

}




/*Mobile*/
@media (max-width: 768px) {

.menu,.menu_lista,.titulo_network,.titulo_div,.skills,.skills_line,.hobbies,.hobbies_line,.formacion_academica_cursos,.experiencia_profecional,.experiencia_box,.formcontato_contacto,.footer_rodapie{
    flex-direction: column;
    
}
.menu,.menu_lista,.skills,.hobbies,.formacion_academica_cursos{
    align-items: center;
}
.titulo_profile{
    margin-top: 20px;
}
.formcontato_enviar{
    align-self: center;
}
.experiencia_img,.experiencia_img2,.formcontato_img{
width: 100%;
order: 0;
}


}